{% extends 'base.html' %} {% block content %}

<div>
  <div id="create-container" class="row">
    <div id="image-container" class="col s6">
      <div id="image-container">
        {% if url == " "%}
        <div id="no-upload-msg" class="pulse">
          <h4><strong>UPLOAD AN IMAGE TO START</strong></h4>
        </div>
        {% else %}
        <div id="capture">
          <img
            id="picborder"
            class="responsive-img card-panel capture"
            src="{{url}}"
            crossorigin=""
          />
          <div class="draggable">
            <input class="meme-text" type="text" placeholder="TEXT" />
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col s6">
      <div id="form-container">
        <div id="create-instructions">
          <h4>instructions</h4>
          <ol>
            <li>Select text to edit</li>
            <li>Click and drag text to move</li>
            <li>Double click text to delete</li>
            <li>Up/Down arrows key to change colors</li>
          </ol>
        </div>
        <form
          id="upload-photo-form"
          action="{% url 'add_photo' %}"
          enctype="multipart/form-data"
          method="POST"
        >
          {% csrf_token %}
          <input type="file" name="photo-file" required />
          <br /><br />
          <input
            id="upload-photo-btn"
            type="submit"
            class="btn"
            value="Upload Photo"
          />
          <br /><br />
        </form>
        <button id="add-text-btn" class="btn">Add Text</button>
        <br />
        <button id="done-btn" class="btn">Next</button>
        <form
          id="upload-meme"
          action="{% url 'add_meme' photo_name %}"
          method="POST"
        >
          {% csrf_token %}
          <input id="img-data" name="photo-file" style="display: none" />
          <label for="meme-name">MEME TITLE:</label>
          <input name="meme-name" required />
          <button
            onclick="Materialize.toast('Post Saved', 4000, 'rounded')"
            class="btn"
            type="submit"
          >
            DONE
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
