{% extends 'base.html' %} {% block content %}

<!-- right menu button/ filter memes -->
<div class="fixed-action-btn">
  <a href="#" class="btn-floating btn-large"><i class="large material-icons">sort</i></a>
  <ul>
      <li><a href="{% url 'sort_hated' %}" class="btn-floating red btn-large">
          <i class="large material-icons">thumb_down</i></a></li>
      <li><a href="{% url 'sort_liked' %}" class="btn-floating green btn-large">
          <i class="large material-icons">thumb_up</i></a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'sort_my_memes' %}" class="btn-floating grey lighten-1 btn-large">
          <i class="large material-icons">view_list</i></a></li>
      {% endif %}
  </ul>
</div>

<div class="grid">
  {% if memes %}
  {% for meme in memes%}
  <div class="grid-item">
    <div class="card">
        <a href="{% url 'meme_details' meme.id %}">
          <img id="{{meme.id}}" class="grid-item--width2 meme-image" src="{{meme.url}}" />
        </a>
      <div class="card-action">
      <div class="center-align card-content white-text">
        <span class="card-title">{{ meme.name }}</span>
        <p>author: <strong>{{meme.user}}</strong></p>
      </div>
        <div id="likes-section">
          <div class="center-align vote-box">
            <form
              action="{% url 'add_like' %}"
              enctype="multipart/form-data"
              method="POST"
            >
              {% csrf_token %}
              <input name="meme-id" value="{{meme.id}}" style="display: none" />
              <button class="btn-floating waves-light btn-large green lighten-1" type="submit">
                <i class="large material-icons">thumb_up</i></a></button>
              :{{meme.likes}}
            </form>
          </div>
          <div class="center-align vote-box">
            <form
              action="{% url 'add_dislike' %}"
              enctype="multipart/form-data"
              method="POST"
            >
              {% csrf_token %}
              <input name="meme-id" value="{{meme.id}}" style="display: none" />
              <button class="btn-floating waves-light btn-large red lighten-1" type="submit">
                <i class="large material-icons">thumb_down</i></a></button>
              :{{meme.dislikes}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ******** overlay stuff ********* -->
  <!-- <div data-memeid="{{meme.id}}" class="meme-details row">
    <div class="meme-detail-info">
      <img class="meme-detail-card" src="{{meme.url}}"/>
      likes: {{meme.likes}} dislikes:{{meme.dislikes}}
    </div>
    <div class="meme-comment-section">
    </div>
    <button class="detail-close-btn">close</button>
  </div> -->
  {% endfor %}
  {% else %}
  <p> No memes :(</p>
  {% endif %}

</div>


{% endblock %}


