body {
    color: white;
    /* display: flex; */
    /* height: 100vh;
    width: 100vw; */
    background-color: #072227;
    
}

.nav-wrapper {
    background-color: #35858B;
}

/* Meme card background */
.card {
    background-color: #35858B;
}

/* right side sort/button */
.btn-floating {
    background-color: #4FBDBA;
}

/* Masonry grid-items */
.grid-item { 
    width: 380px;
}
.grid-item--width2 { 
    width: 380px;
}

/* meme index cards */
.card-action{
    padding: 0px 2% 2% 2% !important;
}
.card-content {
    padding: 0px 0px 2% 0px !important;
    margin: 0px;
}

.card {
    padding-top: 0px;
}

#capture{
    background-repeat: no-repeat;
    background-size: contain;
    height:100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0!important;
}

.create-page{
    height: 100vh;
    width:100vh;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#create-container{
    margin-top: 5%;
}
.draggable{
    position: absolute;
    background-color: transparent;
    width: auto;
}

.meme-text{
    background-color: transparent !important;
    border-bottom: none !important;
    font-size:40px !important;
    color: white !important;
    width: 100px!important;
    height: auto !important;
    margin: 0 !important;
    font-weight: 700 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    vertical-align: middle !important;
} 

input{
    color: #AEFEFF !important;
}

.draggable:hover{
    cursor: cell;
}

#upload-meme{
    display: none;
}
#likes-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vote-box{
    width:50%
}

.img{
    width:100%;
}

.meme-details{
    display: none;
    position:absolute;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vh;
    background-color: rgba(255,255,255,0.4);

}

.page-footer {
    padding: 10px;
    background-color: #ffffff00;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;

}

/* Removes white border around urls */
.card-panel {
    padding: 0px;
}

#picborder {
    padding: 0px;
    margin: 0px;
}

#commentscroll {
    height: 500px;
    overflow-y: scroll;
}

#comment-form {
    display: flex;
}

#no-upload-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
    transition: 0.3s ease-in-out;
}

#no-upload-msg:hover{
    color: #FDA856;
    transition: 0.3s ease-in-out;
    cursor: cell;
}

#create-instructions{
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 0.5% 5% 2% 0%;
    margin-bottom: 8%;
    text-transform: uppercase;
    transition:0.3s ease; 

}
#create-instructions>ol{
    padding-inline-start: 20px;
}

#create-instructions:hover{
    cursor: cell;  
    background-color: transparent;
    transition:0.3s ease;
}

input::file-selector-button {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    background-color: #FDA856;
    transition: 0.3s;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}


input::file-selector-button:hover {
    background:#35858B;
    transition: 0.3s;
    cursor: pointer;
    color:white;
}


.meme-image{
    width:100%;
}


.card-title{
    margin: 0 !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
}