@font-face {
    font-family: 'OldLondon';
    src: local('OldLondon'),
         url('../static/fonts/OldLondon.ttf') format("truetype");
}
body {
    color: white;
    /* display: flex; */
    /* height: 100vh;
    width: 100vw; */
    background-color: #072227;
    
}

::-webkit-scrollbar {
    width: 6px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #35858B;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0e454e;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0d3e47;

  }

#GM-logo{
    width: 50px;
    height: 50px;
}
#logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'OldLondon';
    font-weight: bold;
}
.nav-wrapper {
    background-color: #35858B;
    padding-left: 2% !important;
}

/* Meme card background */
.card {
    background-color: #072227;
}

/* right side sort/button */
.btn-floating {
    background-color: #4FBDBA;
}



/* meme index cards */
.card-action{
    padding: 0px 2% 2% 2% !important;
}
.card-content {
    padding: 0px 0px 2% 0px !important;
    margin: 0px;
}

.card {
    padding-top: 0px;
}

#capture{
    background-repeat: no-repeat;
    background-size: contain;
    height:100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0!important;
}

.create-page{
    height: 100vh;
    width:100vh;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#create-container{
    margin-top: 5%;
}
.draggable{
    position: absolute;
    background-color: transparent;
    width: auto;
}

.meme-text{
    background-color: transparent !important;
    border-bottom: none !important;
    font-size:40px !important;
    color: white !important;
    width: 100px!important;
    height: auto !important;
    margin: 0 !important;
    font-weight: 700 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    vertical-align: middle !important;
} 

input{
    color: #AEFEFF !important;
}

.draggable:hover{
    cursor: cell;
}

#upload-meme{
    display: none;
}
.meme-data-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    background-color: rgba(255,255,255,0.4);
    border-radius: 3px;
    padding: 5px;
    color: black;
}
.meme-likes-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    
}

.vote-box{
    width:100%
}
.meme-title{
    font-size: 20px;
    margin:0 0 0 10px;
}
.meme-author{
    font-size: 12px;

}
.img{
    width:100%;
}
.meme-detail-container{
    margin: 0 auto;
    padding: 0 5%;
    max-width: 1280px;
}
.meme-details-meta-data{
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.likes-dislikes{
    width: 90%;
}
.detail-meme-img{
    max-width: 100%;
}
.meme-details{
    display: none;
    position:absolute;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vh;
    background-color: rgba(255,255,255,0.4);

}

.page-footer {
    padding: 10px;
    background-color: #ffffff00;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;

}

/* Removes white border around urls */
.card-panel {
    padding: 0px;
}

#picborder {
    padding: 0px;
    margin: 0px;
}

#commentscroll {
    height: 500px;
    overflow-y: scroll;
}

#comment-form {
    display: flex;
}

#no-upload-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
    transition: 0.3s ease-in-out;
}

#no-upload-msg:hover{
    color: #FDA856;
    transition: 0.3s ease-in-out;
    cursor: cell;
}

#create-instructions{
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 0.5% 5% 2% 0%;
    margin-bottom: 8%;
    text-transform: uppercase;
    transition:0.3s ease; 

}
#create-instructions>ol{
    padding-inline-start: 20px;
}

#create-instructions:hover{
    cursor: cell;  
    background-color: transparent;
    transition:0.3s ease;
}

input::file-selector-button {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    background-color: #FDA856;
    transition: 0.3s;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}


input::file-selector-button:hover {
    background:#35858B;
    transition: 0.3s;
    cursor: pointer;
    color:white;
}

.card-title{
    margin: 0 !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
}
.extra-small{
    transform: scale(0.7);


}
.comment-container{
    width: 99%;
    overflow-wrap: break-word;
    background-color:  rgba(79,189,186,0.2);
    border-radius: 3px;
    padding: 5px 10px;
    margin: 1% 1% 1% 0%;
}

.comment-container p{
    margin:0px 0px 10px 0px;
}
.comment-meta-data{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.comment-meta-data p{
    margin:10px 0 5px 0;
    font-weight: bold;
}
/* index page styling */

.index-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
}

.meme-item{
  height: 100%;
  flex-grow: 1;
  margin: 1vmin;
}

.meme-item:last-child {
  flex-grow: 10;
}

.meme-image {
  max-height: 100%;
  width: 400px;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 1vmin;
}
.the-meme{
    width: 400px;
}

